
/* ---------- Color Module Styles ----------- */
a{
    outline: none;
}
body,
body.overlay {
    color: #3b3b3b;
}
.comment .comment-arrow {
    border-color: #ffffff;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
    background: #ffffff;
}
.tabs ul.primary li a.active {
    background-color: #ffffff;
}
.tabs ul.primary li.active a {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
#header {
    background: none repeat scroll 0 0 #FFFFFF;
    position: absolute;
    top: 0;
    width: 100%;
    height:158px;
}

a {
    color: #2C8AB6;
}

a:hover,
a:focus {
    color: #018fe2;
}
a:active {
    color: #23aeff;
}
.sidebar .block {
    background-color: #fff;
    border-color: #f9f9f9;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
    color: #000;
}
#sidebar-second .section{
    padding-top: 15px;
}
/*
contact
*/
/*#breadcrumb #page-title{
    font-weight: bold;
}*/
#breadcrumb{
    background: url("../images/bgbreadcrumb.png") repeat scroll center top transparent;
    height: 60px;
    margin: 0;
    padding: 20px 0 15px 44px;
}
.node-type-webform #breadcrumb,
body.page-node-13 #breadcrumb{
    height: 60px;
    margin: 0;
    padding: 20px 0 15px 40px;
}
h1#page-title{
    margin: 15px 0 0;
    text-transform: uppercase;
}
body.node-type-webform #content{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 2px 0 0 15px;
    width: 705px;
}
body.node-type-webform #content .region.region-content{
    padding: 20px 40px;

}
/*#edit-submitted-nombre-contacto,
#edit-submitted-email-contacto{
background: url("../images/bg_input_contact.png") no-repeat scroll -8px 0 transparent;
    border: medium none;
    height: 25px;
    width: 417px;
}*/
/*#edit-submitted-comentario-contacto{
       background: url("../images/bg_input_contact.png") no-repeat scroll -7px -33px transparent;
    height: 128px;
    border: medium none;
    padding: 7px;
    width: 426px;
}*/
body.node-type-webform #content .grippie{
    display: none;
}
body.node-type-webform #content fieldset{
    border: none;
}
body.node-type-webform #content fieldset legend{
    display: none;
}
body.node-type-webform #content .fieldset-description{
    display: none;
}
body.node-type-webform #content img{
    float: left;
    padding-right: 10px;
}
/*body.node-type-webform #content #edit-captcha-response{
   background: url("../images/bg_input_contact.png") no-repeat scroll -6px -168px transparent;
    border: medium none;
    height: 23px;
    width: 230px;
}*/
body.node-type-webform #content #edit-submit{
    background: url("../images/bgbuttoncontact.png") repeat-x scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    height: 35px;
    margin-right: 40px;
    width: 120px;
}
#block-locationmap-image .content{
    /*    background: url("../images/arrow-circle.png") no-repeat bottom center #fff;*/
}
/*
right
*/

#sidebar-second{

}
#sidebar-second .block,
#sidebar-second .block{
    padding: 15px 0px;
}

#sidebar-second #block-nodeblock-6 .content{
    padding-left: 18px;
}
#sidebar-second h2,
#sidebar-second h2{
    background: url("../images/eye.png") no-repeat scroll 10px 0 transparent;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
#sidebar-second .block-nodeblock li{
      background: url("../images/icon_select_check.png") no-repeat scroll -90px 6px transparent;
        font-size: 12px;
    list-style: none outside none;
    padding: 3px 0 3px 28px;
    text-transform: uppercase;
}
#sidebar-second .block-nodeblock ul{
    padding: 0;
}
#sidebar-second #block-nodeblock-5 h2{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    bottom: 81px;
    display: block;
    padding-left: 0;
    position: absolute;
    width: 100%;
}
#block-nodeblock-5{
    position: relative;
}
#sidebar-second #block-nodeblock-5 .field-name-body{
    padding-top: 20px;
}
/*
Spa
*/
.node-type-instalaciones #page-wrapper,
.page-servicios-extras #page-wrapper,
.node-type-instalaciones #page-wrapper,
body.node-type-webform #page-wrapper,
body.node-type-que-hacer #page-wrapper,
body.page-reservas #page-wrapper,
body.page-que-hacer  #page-wrapper,
body.page-booking  #page-wrapper{
    background: url("../images/bg_spa.png");
}
.page-servicios-extras #page-wrapper .section,
.node-type-instalaciones #page-wrapper .section{
    /*padding-right: 3px;*/
    padding-top: 3px;
}
body.page-servicios-extras #content,
body.node-type-instalaciones #content, 
.page-reservas #content
{
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 1px;
    padding: 0 30px;
    width: 640px;
}

body.page-servicios-extras .view-header,
body.node-type-instalaciones .view-header{
    padding: 10px 0 30px;
}
/*body.page-servicios-extras .view-content,*/
body.node-type-instalaciones .view-content{
    padding-left: 20px;
}
body.page-servicios-extras .group-left,
body.node-type-instalaciones .group-left{
    float: left;
    width: 75%;
}
body.page-servicios-extras .group-right,
body.node-type-instalaciones .group-right{
    float: left;
    text-align: right;
    width: 25%;
}
body.page-servicios-extras #content .group-left h2{
    background: url("../images/bookfade.png") no-repeat scroll 0 0 transparent;
    color: #0071B3;
    padding-left: 40px;
    vertical-align: middle;
    margin: 15px 0 20px;
}
body.page-servicios-extras .view-header{
    background: none repeat scroll 0 0 #F6F6F2;
    margin-bottom: 15px;
    padding: 10px 0 15px;
}
body.page-servicios-extras .views-row{
    background: none repeat scroll 0 0 #F6F6F2;
    margin-bottom: 25px;
    padding-left: 20px;
    position: relative;
}
body.page-servicios-extras .views-row .field-item{
    margin: 0;
}
body.page-servicios-extras .view-footer a{
    background: url("../images/bgbuttonr.png") repeat-x scroll center center transparent;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
body.page-servicios-extras .group-left .field-name-commerce-price{
    position: absolute;
    right: 135px;
    top: 20px;
}
body.page-servicios-extras .group-left .field-name-commerce-service-pricing-method{
    position: absolute;
    right: 25px;
    top: 20px;
}
body.page-servicios-extras .group-right img{
    margin: 60px 0 0;
    padding-right: 20px;
}

.node-type-instalaciones .group-second
{
    float: none;
    width: 100%;
}
.node-type-instalaciones .group-third{
   position: static;
    width: 50%;
    float:right;
}
.node-type-instalaciones .group-fourth{

}
.node-type-instalaciones .group-fourth .field-item p
/*.node-type-instalaciones .group-first .field-name-body .field-item p*/{
    background: url("../images/note1.png") no-repeat scroll 30px 10px, url("../images/bg_menu.png") repeat scroll center top transparent;
    padding: 20px;
}
.node-type-instalaciones .group-first .field-name-body .field-item p{
    /*    padding: 15px;
        margin: 0*/

}
.node-type-instalaciones .group-fourth .field-item p{
    padding: 30px;
}
.node-type-instalaciones .group-first{
    float: none;
    height: 420px;
    margin-bottom: 1em;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
/*.node-type-instalaciones .group-first .field-name-body .field-item p strong{
      background: url("../images/note1.png") no-repeat scroll left top transparent;
    display: block;
    height: 31px;
    padding-left: 29px;
    padding-top: -50px;
    position: relative;
    top: 6px;
    margin: 20px 0 2px 0;
}*/

.node-type-instalaciones .group-second{
  float: left;
    position: static;
    width: 50%;
}
.node-type-instalaciones .field-slideshow-caption{
    background: url("../images/bg_des_slide.png") repeat scroll 0 0 transparent;
    bottom: 20px;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
}
.field-slideshow-caption-text{
    color: #fff;
}
.node-type-instalaciones #block-nodeblock-30 p {
    margin: 0 0 0 -20px;
}
.node-type-instalaciones .group-third .field-name-field-caracteristicas .field-item ul,
.node-type-instalaciones .group-third .field-name-field-caracteristicas .field-item p{
    margin: 0;
}
.node-type-instalaciones .group-third li{
    list-style: disc outside url("../images/checkfade.png");
}
/*
end
servicios-extras
*/
/*body.page-servicios-extras .sidebar .block.block-menu-block,
body.node-type-instalaciones .sidebar .block.block-menu-block{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
body.page-servicios-extras .block.block-menu-block h2,
body.node-type-instalaciones .block.block-menu-block h2{
    display: none;
}
body.page-servicios-extras .sidebar .block.block-menu-block ul.menu,
body.node-type-instalaciones .sidebar .block.block-menu-block ul.menu{
    padding: 0;
}
body.page-servicios-extras .sidebar .block.block-menu-block li.leaf,
body.node-type-instalaciones .sidebar .block.block-menu-block li.leaf{
    background: none repeat scroll 0 0 #FFFFFF;
    list-style: none outside none;
    margin-bottom: 3px;
    padding: 5px 10px 5px 20px;
}
body.page-servicios-extras .sidebar .block.block-menu-block li.leaf.active,
body.node-type-instalaciones .sidebar .block.block-menu-block li.leaf.active{
    background: url("../images/menutop.png") no-repeat scroll 0 0 transparent;
    min-height: 90px;
    vertical-align: middle;
    padding: 2px 10px 2px 20px;
}
body.page-servicios-extras .sidebar .block.block-menu-block .menu-link-title,
body.node-type-instalaciones .sidebar .block.block-menu-block .menu-link-title{
    font-size: 20px;
}
body.page-servicios-extras .sidebar .block.block-menu-block .menu-link-subtitle,
body.page-servicios-extras .sidebar .block.block-menu-block .menu-link-subtitle a,
body.node-type-instalaciones .sidebar .block.block-menu-block .menu-link-subtitle,
body.node-type-instalaciones .sidebar .block.block-menu-block .menu-link-subtitle a,
body.page-booking .sidebar .block.block-menu-block .menu-link-subtitle a{
    font-size: 13px;
    color: #666666;
}*/
body.page-servicios-extras .sidebar .block.block-nodeblock,
body.node-type-instalaciones .sidebar .block.block-nodeblock,
body.page-booking .sidebar .block.block-nodeblock{
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    padding: 0;
}
body.page-servicios-extras .sidebar .block.block-nodeblock h2
{
    display: none;
}
body.page-servicios-extras .sidebar .block.block-nodeblock .field-type-image img,
body.node-type-instalaciones .sidebar .block.block-nodeblock .field-type-image img,
body.page-booking .sidebar .block.block-nodeblock .field-type-image img{
    width: 100%;
    height: 100%;
}
/*body.page-servicios-extras .sidebar .block.block-nodeblock .field-name-body.field-type-text-with-summary,
body.node-type-instalaciones .sidebar .block.block-nodeblock .field-name-body.field-type-text-with-summary,
body.page-booking .sidebar .block.block-nodeblock .field-name-body.field-type-text-with-summary{
    text-align: center;
}*/
/*body.node-type-instalaciones .sidebar .block.block-nodeblock h2,
body.page-booking .sidebar .block.block-nodeblock h2{
    background: url("../images/bagfade.png") no-repeat scroll 15px center transparent;
    font-weight: bold;
    padding: 5px 10px 5px 40px;
}*/
body.node-type-instalaciones #block-nodeblock-30 .content{
    padding-left: 10px;
}
/*body.node-type-instalaciones .sidebar .block.block-nodeblock ul,
body.page-booking .sidebar .block.block-nodeblock ul{
    padding-left: 25px;
    padding-right: 10px;
}*/
body.node-type-instalaciones .sidebar .block.block-nodeblock li,
body.page-booking .sidebar .block.block-nodeblock li{
    list-style: disc outside url("../images/checkfade.png");
    padding-bottom: 10px;
    padding-left: 5px;
}
#block-nodeblock-30 .field-name-body.field-type-text-with-summary{
    text-align: left;
}
/*body.page-booking #block-nodeblock-30 .field-item p,
body.node-type-instalaciones #block-nodeblock-30 .field-item p{
    background: url("../images/bgbuttonr.png") no-repeat scroll 0 center transparent;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 3px;
    padding: 10px;
    text-align: center;
    width: 180px;
}*/
/*
nuestra-historia
*/
body.page-node-13 #page-wrapper{
    background: url("../images/bg_spa.png") repeat scroll 0 0 transparent;
}
body.page-node-13 #content{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 1px 0 15px;
    padding: 0 40px;
    width: 620px;
}
body.page-node-13 #content #block-system-main .field-items h2,
body.page-node-13 #content #block-system-main .field-items h3{
    font-weight: bold;
}
body.page-node-13 #content #block-system-main .field-items img{
    margin-right: 20px;
}
body.node-type-webform #sidebar-second #block-nodeblock-5,
body.page-node-13 #sidebar-second #block-nodeblock-5{
    padding: 0;    
    text-align: center;
}
body.node-type-webform #sidebar-second .block,
body.page-node-13 #sidebar-second .block{
    background: none repeat scroll 0 0 #FFFFFF;
}
body.node-type-webform #sidebar-second #block-nodeblock-5 h2
body.page-node-13 #sidebar-second #block-nodeblock-5 h2{
    display: none;
}
body.node-type-webform #sidebar-second #block-nodeblock-5 .field-item img,
body.page-node-13 #sidebar-second #block-nodeblock-5 .field-item img{
    width: 100%;
}
body.node-type-webform #sidebar-second #block-nodeblock-5 .field-item a,
body.page-node-13 #sidebar-second #block-nodeblock-5 .field-item a{
    background: url("../images/bgbuttonr.png") repeat-x scroll 0 center transparent;
    color: #FFFFFF;
    display: block;
    margin: 0 10px 10px;
    padding: 10px 0;
    text-transform: uppercase;
}
body.page-node-13 #sidebar-second #block-nodeblock-5 .content{
    padding: 0;
}
body.page-node-13 #sidebar-second #block-locationmap-image,
body.node-type-webform #sidebar-second #block-locationmap-image{
    padding: 0;
}
body.page-node-13 #sidebar-second #block-locationmap-image .content,
body.node-type-webform #sidebar-second #block-locationmap-image .content{
    /*    padding: 0 10px 20px;*/
    text-align: center;
    padding-top: 10px;
}
body.page-node-13 #sidebar-second #block-locationmap-image .content img,
body.node-type-webform #sidebar-second #block-locationmap-image .content img{
    height: 248px;
    width: 230px;
}

#block-locationmap-image .content{
    padding-bottom: 120px;
    padding-top: 15px;
    position: relative;

}
#block-nodeblock-5,
#sidebar-second #block-locationmap-image{
    width:252px;
    overflow:visible;
}
#sidebar-second #block-locationmap-image h2 {
    background: none repeat scroll 0 center transparent;
    border: medium none;
    bottom: 90px;
    display: block;
    padding-left: 0;
    position: absolute;
    text-align: center;
    width: 94%;
    color: #000;
    font-size: 18px;
}
#locationmap-block-text-top {
    bottom: 50px;
    position: absolute;
    width: 93%;
}
#locationmap-block-text-top a{
    background: url("../images/all_arrow.png") no-repeat scroll -2px -3px transparent;
    border: 10px solid #FFFFFF;
    border-radius: 60px 60px 60px 60px;
    bottom: -78px;
    display: block;
    height: 42px;
    left: 42%;
    position: absolute;
    text-indent: -9999px;
    width: 45px;
}
#block-locationmap-image p {
    margin-bottom: 0;
}
body.page-node-13 #sidebar-second li{
/*    list-style: disc outside url("../images/checkfade.png");
    padding: 0px 0px 5px 10px;*/
    text-transform: uppercase;
    font-size: 12px;

}
#sidebar-second h2{
   background: url("../images/all_icon1.png") no-repeat scroll 7px -886px transparent;
}
/*
booking
*/
body.page-booking #rooms-booking-availability-search-form > div > div{
    clear: none;
    float: left;
}
body.page-booking #rooms-booking-availability-search-form > div div{
    margin: 0;
    padding: 0;
}
body.page-booking #edit-actions{
    margin: 0;
}
body.page-booking .form-actions #edit-submit,
body.page-booking .form-actions .form-submit{
    background: url("../images/bgbutton.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #BDDCE9;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 33px;
    margin-top: 0;
    text-transform: uppercase;
    width: 190px;
}
body.page-booking #edit-actions #edit-submit:hover{
    cursor: pointer;
}
body.page-booking #rooms-booking-availability-search-form > div > div .description{
    display: none;
}

#nivaria-rooms-booking-display-unit-availability-search-form #edit-rooms-start-date-datepicker-popup-0,
#nivaria-rooms-booking-display-unit-availability-search-form #edit-rooms-end-date-datepicker-popup-0,
#rooms-booking-availability-search-form #edit-rooms-end-date-datepicker-popup-0, 
#rooms-booking-availability-search-form #edit-rooms-start-date-datepicker-popup-0{
   /*background: url("../images/input_search.png") no-repeat scroll -4px -86px transparent;*/
    border: medium none;
    color: #CCCCCC;
    font-size: 11px;
    font-weight: bold;
    height: 25px;
    width: 115px;
}
body.page-booking .no-booking-data{
    clear: both;
}
/*
product
*/
.unit-result .booking-date span.label {
    float: left;
    width: 190px;
    width:200px;
}
.unit-result .booking-occupants span.label {
    float: left;
    width: 190px;
    width:200px;
}
.unit-result .booking-avg-price span.label {
    float: left;
    margin-right: 28px;
    margin-right:0;
    width:200px;
}
.unit-result{
    padding-left: 20px;
    position: relative;
}
.unit-result .field-name-title.field-type-ds{
    position: absolute;
}
.unit-result .field-name-field-imagenes{
    padding: 60px 10px 50px 0;   
}
.booking-info{
    padding-bottom: 20px;
    padding-top: 60px;
}
.unit-result h2 {
       background: url("../images/all_icon1.png") no-repeat scroll 0 -164px transparent;
    color: #0071B3;
    margin: 15px 0 20px;
    padding-left: 40px;
    vertical-align: middle;
}
.booking-price{
    left: 0;
    padding-left: 115px;
    padding-top: 20px;
    position: absolute;
}
.booking-price span{
    float: left;
}
.booking-price span.label{
    padding: 6px 15px 5px 0;
}
/*.content form{
    margin-right: 100px;
    text-align: right;
}*/
#rooms-booking-availability-search-form{
    margin-right: 0;
}
/*
fix
*/
body.node-type-webform #content {
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 1px 0 0;
    width: 700px;
}
#main-wrapper .sidebar .section{
    padding-right: 0;
}
#main-wrapper {
/*    background-color: #EDEDED;*/
    padding-top: 10px;
      margin-top: 160px;
}
.page-booking #sidebar-first{
    padding-top: 2px;
}
li.active-trail{
/*    background: url("../images/arrowmenu.png") no-repeat scroll center 20px transparent;*/
}
/*#field-slideshow-1-controls{
    display: none;
}*/
/*header menu*/
/*.page-que-hacer #header #logo,
.page-reservas #header #logo{
    margin-top: 25px;
}*/
#header > .section.clearfix > .region.region-header{
    background: none repeat scroll 0 0 #000000;
    height: 30px;
    left: -20px;
    margin: 0;
    padding: 0 20px;
    position: absolute;
    top: 0;
    width: 100%;
}

#header > .section.clearfix > .region.region-header #block-menu-menu-superior-menu li a.active{
    color: #1F83B1;
}
#header > .section.clearfix > .region.region-header a{
    border: medium none;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 24px;
    text-transform: uppercase;
}
#header > .section.clearfix > .region.region-header a{
    color: #fff;
}
#header .region-header .block-menu{
    padding: 0;
    width: 100%;
    border: none;
}
.page-reservas #block-rooms-booking-manager-rooms-availability-search .form-type-select{
    margin-right: 40px;
}
.node-type-que-hacer #sidebar-first .section{
    margin-top: 2px;
    margin-right: 2px;
}
.node-type-que-hacer #content{
    background: none repeat scroll 0 0 #FFFFFF;
}
.front.no-sidebars #content{
    background: none;
    padding: 0;
    width: 970px;
}
.no-sidebars #content{
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 1px;  
    width: 890px;
    padding: 20px;
}
.one-sidebar #content, .page-que-hacer #sidebar-first{
    margin-top: 1px;
}
.node-type-que-hacer #content > .section{
    padding: 20px;
}
#block-views-casas-block .field-content{
    text-align: center;
}
#block-views-casas-block span.field-content{
    background: url("../images/eyefade.png") no-repeat scroll 10px center transparent;
    border-bottom: 1px solid #DDDDDD;
    display: block;
    padding: 5px 40px;
    text-align: left;
}
#block-views-casas-block .views-field-field-subtitulo{
    padding: 5px 15px;
}
#block-views-casas-block .views-field-field-subtitulo .field-content{
    text-align: left;
}
.page-libro-de-visitas #content{
    padding: 20px 40px;
    width: 620px
}
.page-reservas #main-wrapper #main #sidebar-first .section{
    margin: 1px 2px 2px 0;
}
.page-reservas #main-wrapper #main #sidebar-first .section .form-submit{
    width: 225px;
}
#secondary-menu li{
    float: left;
}
/*
page-libro-de-visitas
*/
.page-libro-de-visitas .field-name-title.field-type-ds{
    float: left;
}
.page-libro-de-visitas .field-name-title.field-type-ds h2{
     background: url("../images/all_icon1.png") no-repeat scroll 0 -309px transparent;
    padding: 0 0 0 40px;
}
.page-libro-de-visitas .field-name-field-valoracion{
    float: right;
}
.page-libro-de-visitas .field-name-field-casas{
    clear: both;
    float: none;
}
.page-libro-de-visitas .field-name-field-valoracion .description{
    display: none;
}
.page-libro-de-visitas .field-name-field-fecha-de-la-estancia .date-display-single{
/*    font-style: italic;*/
}
.page-libro-de-visitas .field-name-body{
    padding: 10px 0;
}
.page-libro-de-visitas .field-name-field-nombre{
    float: left;
    font-weight: bold;
    padding-right: 10px;
}
.page-libro-de-visitas .views-row{
    background: url("../images/bgbreadcrumb.png") repeat scroll center top transparent;
    border: medium none;
    margin-bottom: 20px;
    padding: 20px;
}
.page-libro-de-visitas .views-row > div{
    border: medium none;
    margin-bottom: 0;
}
/* libro-de-visitas page */
div.fivestar-widget-static .star{
    background: none;
}
div.fivestar-widget-static .star span.off{
      background: none repeat scroll 0 0 #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    height: 12px;
    width: 12px;
}
div.fivestar-widget-static .star span.on{
    background: none;
}
.page-libro-de-visitas div.fivestar-widget-static .star-1 span.on{
    background: url("../images/all_circle.png") no-repeat scroll -64px 0 transparent
}
.page-libro-de-visitas div.fivestar-widget-static .star-2 span.on{
    background: url("../images/all_circle.png") no-repeat scroll 2px 0 transparent;
}
.page-libro-de-visitas div.fivestar-widget-static .star-3 span.on{
    background: url("../images/all_circle.png") no-repeat scroll -14px 0 transparent;
}
.page-libro-de-visitas div.fivestar-widget-static .star-4 span.on{
    background: url("../images/all_circle.png") no-repeat scroll -30px 0 transparent;
}
.page-libro-de-visitas div.fivestar-widget-static .star-5 span.on{
    background: url("../images/all_circle.png") no-repeat scroll -47px 0 transparent;
}
/*.page-libro-de-visitas #page-wrapper #page #main #breadcrumb h1#page-title{
    color: #9c5b3d;
    font-weight: normal;
    font-size: 20px;
}*/
.page-libro-de-visitas .field-name-field-casas{
    border-top: 2px solid #FFFFFF;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 20px;
    position: relative;
    width: 600px;
}
.page-libro-de-visitas .field-name-field-casas .field-items > div >a{
    color: #3a92ba;
    font-weight: bold;
}
.page-libro-de-visitas .field-name-field-valoracion .field-items{
    padding-top: 10px;
}
.page-libro-de-visitas #page-wrapper #sidebar-second .section .content .view-content .views-row{
    background: #fff;
    padding: 0px;
}
.page-libro-de-visitas #page-wrapper #sidebar-second .section .content .view-content .views-row .views-field .field-content img{
    width:255px;
    height: 150px;
}
.page-libro-de-visitas #page-wrapper #sidebar-second .section #block-nodeblock-42 h2{
    display: none;
}
/*page*/
.page-libro-de-visitas .view-libro-de-visitas .item-list{
            background: none repeat scroll 0 0 #F7F7F7;
    height: 50px;
    line-height: 50px;
        margin-bottom: 30px;
        position: relative;
        left: 0;
        top: 0;
}
.page-libro-de-visitas .view-libro-de-visitas .item-list .pager{
width: 300px;   margin: 0 auto;
}
.page-libro-de-visitas .view-libro-de-visitas .item-list .pager li.pager-current{
        color: #1F84B2;
    font-size: 20px;
    font-weight: normal;
}
.page-libro-de-visitas .view-libro-de-visitas .item-list .pager li a
{
        color: #787878;
   font-size: 20px;
    font-weight: normal;
}
.page-libro-de-visitas .view-libro-de-visitas .item-list .pager li{
    float: left;
        padding: 0 10px;
}
.page-libro-de-visitas .view-libro-de-visitas .item-list .pager li.pager-last,
.page-libro-de-visitas .view-libro-de-visitas .item-list .pager li.pager-first{
  display: none;  
}
.page-libro-de-visitas .view-libro-de-visitas .item-list .pager li.pager-previous a{
        display: block;
    height: 35px;
    padding-top: 11px;
    text-indent: -99999px;
    width: 38px;
     background: url("../images/all_arrow.png") no-repeat scroll -100px 0 transparent;
   position: absolute;
   left: 30px;
}
.page-libro-de-visitas .view-libro-de-visitas .item-list .pager li.pager-next a{
    display: block;
    height: 35px;
    padding-top: 11px;
    text-indent: -99999px;
    width: 35px;
   background: url("../images/all_arrow.png") no-repeat scroll -142px 0 transparent;
   position: absolute;
   right: 30px;
}
#block-views-casas-block span.field-content {
    background: none;
    text-align: center;
    border: none;
}
#block-views-casas-block span.field-content a{
    color:#000;
    /*font-weight: bold;*/
    font-size: 20px;
    
}
.page-libro-de-visitas #page-wrapper #sidebar-second .section .content .view-content .views-field-field-subtitulo{
    padding:0 35px 15px 35px
}
.page-libro-de-visitas #page-wrapper #sidebar-second .section .content .view-content .views-field-field-subtitulo .field-content{
    color:#666;
}










