/* 
    Document   : fgc
    Created on : Aug 24, 2012, 8:12:39 AM
    Author     : hoangbien
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#main-menu-links li.first a{
    border: none;
} 
/* search submit*/
/*.form-submit:hover{
            background: url(../images/bgbutton.png)  no-repeat left top;
          border: medium none;
    color: #BDDCE9;
    font-weight: bold;
    height: 55px;
    text-transform: uppercase;
    width: 234px;
    cursor: pointer;  
}*/

/*#rooms-booking-availability-search-form #edit-submit--2
{
      background: url(../images/bgbutton.png)  repeat-x left 1px;
          border: medium none;
    color: #BDDCE9;
    font-weight: bold;
    height: 55px;
    text-transform: uppercase;
    width: 190px;
    cursor: pointer;
    font-size: 12px;
}*/
/*DELETE: "Consulta nuestra política de cancelación*/
/*#block-nodeblock-30  .field-item p {
    background: url(../images/bgbutton.png)  repeat-x left top;
    color: #FFFFFF;
    cursor: pointer;
    font-weight: bold;
    margin: 10px 0 0 -11px;
    padding: 18px 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 210px;

}*/
.front #rooms-booking-availability-search-form .form-submit{
    width: 100%;
}
/*page-reservas*/
.page-reservas {

}
/*#block-nodeblock-30 h2,
#block-nodeblock-30  ul{
    padding: 0;
}*/
#block-nodeblock-30 h2
{
    background: url("../images/all_icon1.png") no-repeat scroll 5px 3px transparent;
    color: #000000;
    display: block !important;
    /*font-size: 18px;
    font-weight: bold !important;
    margin-bottom: 10px;
    margin-left: -21px;*/
    padding: 0 0 0 41px;
}


#block-nodeblock-20 .field-name-field-imagen img{
    margin-left: -21px;
    margin-top:16px;
}
/*#block-nodeblock-20,
#block-nodeblock-30{
    left: 0;
    padding-top: 0 !important;
    position: relative;
    top: 0;
    width: 215px;
}*/
/*#block-nodeblock-30 .content{
      padding: 15px 20px;
}*/
/*#block-nodeblock-20 h2{
    border-bottom: medium none;
    color: #000000;
    display: block !important;
    font-size: 18px;
    font-weight: bold;
    left: 59px;
    position: absolute;
    top: 168px;
    background: none;
    padding-left: 0;
}
#block-nodeblock-20 .content{
    padding: 0 10px;
}
#block-nodeblock-20  .field-item p{
    color: #999;
    margin: 0;
    padding-top: 25px;
}*/
/*
menu sidebar*/
/*phan menu dung chung ko thay doi*/
#main-wrapper #main #sidebar-first .section{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;


}
#main-wrapper #main .sidebar .block-menu-block{
    padding: 0px;
    border: none;
}
#main-wrapper #main .sidebar .block-menu-block h2{
    display: none;
}
#main-wrapper #main .sidebar .block-menu-block .content ul{
    padding: 0px;
}
#main-wrapper #main .sidebar .block-menu-block .content ul li{
    list-style: none;
    background:  url(../images/bg_menu.png) repeat top center;
    display: block;
    border-color: #EDEDED;
    border-style: solid;
    border-width: 1px 2px 1px 1px;
    height: 90px;
}
#main-wrapper #main .sidebar .block-menu-block .content ul li.first{
    margin-top: 1px;
    margin-right: 0px;
}
#main-wrapper #main .sidebar .block-menu-block .content ul li.leaf{
    list-style: none;
    padding-left: 39px;
}

#main-wrapper #main .sidebar .block-menu-block .content ul li.active-trail{
    background:  url(../images/web_logo.png) no-repeat  left center;
    border-color: #EDEDED;
    border-style: solid;
    border-width: 0 0 0 1px;
    height: 88px;
    padding-right: 5px;
    width: 227px;

}
#main-wrapper #main .sidebar .block-menu-block .content ul li span.menu-link-title a {
    color: #1F83B1;
    font-size: 20px;
}
#main-wrapper #main .sidebar .block-menu-block .content ul li span.menu-link-subtitle a {
    color: #797979;
}
#main-wrapper #main .sidebar .block-menu-block .content ul li.active-trail span.menu-link-title a.active-trail {
    color: #000000;
    font-size: 20px;}
/*
node-type-casas 
*/
.node-type-casas #content .section  .region-content .node-casas .group-left .field-name-field-caracteristicas .field-label,
.node-type-instalaciones .group-third .field-name-field-caracteristicas .field-item p {
    background: url("../images/all_icon1.png") no-repeat scroll 20px -383px, url("../images/bg_menu.png") repeat scroll center top transparent;
    padding: 12px 0 10px 60px;
    border-bottom: 2px solid #fff;
}
.node-type-casas #content .section  .region-content .node-casas .group-left .field-name-field-caracteristicas  .field-items,
.node-type-instalaciones .group-third .field-name-field-caracteristicas .field-item ul{
    background: url("../images/bg_menu.png") repeat scroll center top transparent;  
}
.node-type-casas #content .section  .region-content .node-casas .group-left .field-name-field-caracteristicas  .field-items p{
    display: none;
}
.node-type-casas #content .section  .region-content .node-casas .group-left .field-name-field-caracteristicas  .field-items ul,
.node-type-instalaciones .group-third .field-name-field-caracteristicas .field-item ul{
    margin: 0;
    padding: 20px 0 20px 30px;
}
/*.node-type-casas #content .section  .region-content .node-casas .group-right .field-name-field-comentario .field-item p{
    font-weight: bold;
            background: url("../images/note1.png") no-repeat scroll 27px 35px, url("../images/bg_menu.png") repeat scroll center top transparent;
    padding: 35px 0 10px 53px;
    border-bottom: 2px solid #fff;
}*/
.node-type-casas #content .section  .region-content .node-casas .group-left .field-name-field-caracteristicas  .field-items ul li,
.node-type-instalaciones .group-third .field-name-field-caracteristicas .field-item ul li{
    background: url("../images/icon_select_check.png") no-repeat scroll -89px 10px transparent;
    list-style: none outside none;
    padding-left: 20px;
    font-size: 12px;
    padding: 5px 0 5px 21px;
    text-transform: uppercase;
}
/*page-que-hacer*/
.page-que-hacer #main-wrapper #main #content .section {
    padding: 20px;
}
.page-que-hacer #main-wrapper #main #content .section .tabs{
    margin: 0;
}
.page-que-hacer #main-wrapper #main #content{
    height: auto!important;
}
/*page booking*/
/*
 node-type-instalaciones*/
/*.node-type-instalaciones .group-fourth,
.node-type-instalaciones .group-third,
.node-type-instalaciones .group-first
{
    float: left;
    margin-top: 450px;
    width: 25%;}
.node-type-instalaciones .group-second
{
      left: 0;
    position: absolute;
    top: 0;
}*/
.node-type-instalaciones #block-system-main .node-instalaciones{
    position: relative;
    left: 0;
    top: 0;
}
.node-type-instalaciones .group-second .field-name-field-imagenes .field-slideshow-slide img{
    width: 620px;
    height: 448px;
}
/**booking***/
.page-node-booking .nivaria-rooms-availability-field-calendar tr,
.page-node-booking .nivaria-rooms-availability-field-calendar tr.even{
    background: none!important;
}
.page-node-booking .nivaria-rooms-availability-field-calendar table.fc-header{
    width: 293px !important;
    margin-top: -4px;
    margin-left: -4px;
}
.page-node-booking .nivaria-rooms-availability-field-calendar table.fc-header td{
    background: #666;
}
.page-node-booking .nivaria-rooms-availability-field-calendar table.fc-header tr{
    background: none repeat scroll 0 0 #666666;
    /*border: 1px solid #000000;*/
    height: 50px;
    left: -4px;
    position: relative;
    text-transform: uppercase;
    top: -4px;

}
.page-node-booking .nivaria-rooms-availability-field-calendar  .fc-header-title h2 {
    color: #FFFFFF;
    font-size: 12px!important;
    font-weight: bold;
    padding-top: 15px;
    padding-top:18px;
}
.page-node-booking .nivaria-rooms-availability-field-calendar{
    position: relative;
    left: 0;
    top: 0;
}
.page-node-booking .nivaria-rooms-availability-field-calendar #calendar1{
    margin-left: 8px;
    margin-right: 13px;
    /*      margin-top: -42px;*/
    margin-left:0;
}
.page-node-booking .nivaria-rooms-availability-field-calendar #calendar1,
.page-node-booking .nivaria-rooms-availability-field-calendar #calendar2{
    border: 1px solid #DDDDDD;
    padding:4px;
    overflow: hidden;
    width: 285px;
    /*    height: 458px;*/
    background: none repeat scroll 0 0 #F5F5F5;
}
table.fc-border-separate td{
    background: #fff;
}
.page-node-booking .nivaria-rooms-availability-field-calendar .navigation{

}
.page-node-booking .nivaria-rooms-availability-field-calendar .navigation .prev{
  background: url("../images/all_arrow.png") no-repeat scroll -184px -26px; 
    /*    border-radius: 15px 15px 15px 15px;*/
    display: block;
    height: 20px;
    left: 17px!important;
    position: absolute;
    text-indent: -99999px;
    top: 100px!important;
    width: 20px;
    z-index: 99999;
}
.page-node-booking .nivaria-rooms-availability-field-calendar .navigation .next{
    background: url("../images/all_arrow.png") no-repeat scroll -184px -3px transparent;
    /*    border-radius: 25px 25px 25px 25px;*/
    display: block;
    height: 20px;
    left: 569px!important;
    position: absolute;
    text-indent: -99999px;
    top: 100px!important;
    width: 20px;
    z-index: 99999;
}
.page-node-booking  .region-content #block-system-main .content{
    background:  url(../images/bgbreadcrumb.png) repeat  center center;
    padding: 32px 10px;
}
.page-node-booking .nivaria-rooms-availability-field-calendar .availability-title h2{
    border-bottom: 15px solid #FFFFFF;
    padding: 2px 15px 10px;
}
.page-node-booking .nivaria-rooms-availability-field-calendar tr td
{
    padding: 0!important;
    /*    background: #fff;*/

}
.page-node-booking .nivaria-rooms-availability-field-calendar tbody{
    border: none!important;
}
.page-node-booking .nivaria-rooms-availability-field-calendar .fc-border-separate th.fc-widget-header{
    background: #F5F5F5 !important;
    border: medium none;
    color: #333333;
    font-size: 11px;
    padding-bottom: 8px;
    text-transform: uppercase;

}
.page-node-booking .nivaria-rooms-availability-field-calendar  .fc-border-separate tbody tr.fc-first td,
.page-node-booking .nivaria-rooms-availability-field-calendar  .fc-border-separate tbody tr.fc-first th
{
    border-top-width: 1px;
}
.page-node-booking .nivaria-rooms-availability-field-calendar .fc-grid .fc-day-number{
    position: relative;
    text-align: center;
    z-index: 999;
    width: 100%;
}
.page-node-booking .nivaria-rooms-availability-field-calendar .fc-event{
    background: none!important;
    border: none!important;
}
.page-node-booking .nivaria-rooms-availability-field-calendar .fc-event .fc-event-inner.fc-event-skin{
    /*.page-node-booking .nivaria-rooms-availability-field-calendar .fc-event-skin{*/
    /*    background-color: #F5F5F5 !important;
        border: none !important;
        height: 20px;
        padding-top: 30px;
        padding-bottom: 10px;
        position: relative;
        text-align: center;
        top: -20px;
        width: 39px !important;
        z-index: 1;
        left: -2px;*/
    /*background-color: #FFFFFF !important;
    border: medium none !important;*/
    text-align: center;
    width: 32px;
    border:0 none;
    margin:0;
    width:100%;
}
#calendar1 .fc-grid .fc-day-content div,
#calendar2 .fc-grid .fc-day-content div{

}
.page-node-booking .nivaria-rooms-availability-field-calendar .fc-event-time, 
.page-node-booking .nivaria-rooms-availability-field-calendar .fc-event-title {
    color: #ADADAD;
    font-size: 12px;
    padding: 0 1px;
}
.page-node-booking .nivaria-rooms-availability-field-calendar   #legend{
    padding: 15px;
}
.page-node-booking .nivaria-rooms-availability-field-calendar   #legend .available {
    background-color: #fff;
    border: 1px solid #999999;
}
.page-node-booking .nivaria-rooms-availability-field-calendar   #legend .not-available {

    border: 1px solid #999999;
}
.page-node-booking #nivaria-rooms-booking-display-unit-availability-search-form .form-actions .form-submit{
    background: url("../images/bgbuttonr.png") repeat-x scroll left top transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 32px;
    text-transform: uppercase;
    width: 179px;
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    height:29px;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form  .date-padding{
    padding: 0;
}

.page-node-booking .unit-search .unit-search-form{
    overflow: hidden;
    width: 100%;
    padding-bottom: 10px;
    /*        background: url("../image/bg_menu.png")  repeat center center transparent;*/
}
.page-node-booking .unit-search .unit-search-result{
    left: 0;
    /*    margin-top: 100px;*/
    margin: 0!important;
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
    /*     background: url("../image/bg_menu.png")  repeat center center transparent;*/

}
/*.page-node-booking .unit-search .field-name-title {
    background: url("../images/homefade.png")  no-repeat left top transparent;
    border-bottom: 2px solid #FFFFFF;
    position: absolute;
    top: -69px;
    width: 100%;
}*/
.page-node-booking .unit-search  .unit-description .field-name-title h2
{
     background: url("../images/all_icon1.png") no-repeat scroll -6px -147px transparent;
}
.page-node-booking .unit-search  .unit-description .field-name-title h2,
.page-booking .unit-search  .unit-description .field-name-title h2
{
    margin: 0;
    padding: 15px 7px;
}
.page-node-booking .unit-search  .unit-description .field-name-title h2 a{
    color: #1F83B1;
    padding-left: 30px!important;
}
.page-node-booking .unit-search .unit-description .field-type-image img,
.page-booking .unit-search .unit-description .field-type-image img{
    width: 180px;
    height: 130px;
}
.page-node-booking .unit-search .unit-description .field-type-image img{
    padding: 0!important;
}
.page-node-booking .nivaria-rooms-availability-field-calendar .unit-search-result #book-unit-form-2{
    /*    background: url("../image/bg_menu.png")  repeat center center transparent;*/
    border-top:  2px solid #fff;
    overflow: hidden;
    width: 100%;
    padding: 15px 0;
}
.page-node-booking .unit-search .unit-result .booking-info{
    padding-top: 5px!important;
    padding-bottom: 0px!important;
}
/*.page-booking .unit-result .booking-info{
     padding-bottom: 40px!important;
}*/
.page-node-booking .unit-search .booking-info .booking-price
{
    bottom: 0!important;
    left: 0px!important;
    padding: 20px 0 !important;
    position: absolute;
    /*    width: 435px;*/

}
.page-node-booking .unit-search .booking-info .booking-price .label,
.page-booking .booking-info .booking-price .label{
    float: left;
    /*    line-height: 33px;*/
    text-transform: uppercase;
    width: 200px!important;
    width: 242px!important;
    text-align: right;
    margin-left: 5px!important;
}
.page-booking .booking-info .booking-price .label{

}
.page-node-booking .unit-search .booking-info .booking-price .data,
.page-booking  .booking-info .booking-price .data{
    float: left;
    font-size: 27px;
    margin-top: -3px;
    color: #000;
    
    font-weight:normal;
    font-size:32px;
    color:#333;
}
.page-node-booking .unit-search  .booking-info .label,
.page-booking  .booking-info .label{
    text-transform: uppercase;
    margin-right: 0;
    font-weight:normal;
    font-size:12px;
}
.page-node-booking .unit-search  .booking-info .booking-avg-price .label,
.page-booking .unit-search  .booking-info .booking-avg-price .label{
    margin-right: 28px;
    margin-right:0;
}
.page-node-booking  .unit-search-result .unit-result{
    left: 0;
    padding-bottom: 0px!important;
    padding-top: 68px;
    position: relative;
    top: 0;
}
.page-node-booking  .unit-search-result .booking-info  .data,
.page-booking   .booking-info  .data{
    color: #999;
}
.unit-search-result-alt-list .unit-result{
    padding-top: 100px;
    padding-bottom: 0px!important;
}
.page-node-booking  .unit-search .unit-search-result-alt .unit-search-result-alt-list .alt-booking-result-title h2{
    background: none repeat scroll 0 0 #FFFFFF;
    font-size: 32px !important;
    margin: 0 !important;
    padding: 10px 25px 10px 0;
}
.page-node-booking .unit-search .unit-search-result-alt-hide span,
.page-node-booking .unit-search .unit-search-result-alt-show span{
    color: #1f83b1;
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer;
}

.page-node-booking .unit-search .unit-search-result-alt-hide,
.page-node-booking .unit-search .unit-search-result-alt-show{
    background: none repeat scroll 0 0 #FFFFFF;
    text-align: right;
}
.region-sidebar-first #block-rooms-booking-manager-rooms-availability-search h2{
    border: none;
    font-size: 17px;
    font-weight: bold;
}
#nivaria-rooms-booking-display-unit-availability-search-form{
    padding-left: 7px;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .description,
.region-sidebar-first #block-rooms-booking-manager-rooms-availability-search #rooms-booking-availability-search-form label,
.region-sidebar-first #block-rooms-booking-manager-rooms-availability-search #rooms-booking-availability-search-form .description{
    display: none;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .start-date{
    float: left;
    width: 125px;
    margin-right:0.5em;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .end-date{
    float: left;
    width: 132px;
}

.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .start-date .container-inline-date .form-item,
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .end-date .container-inline-date .form-item{
    margin: 0;
    /*width: 125px;*/
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .start-date input,
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .end-date input{
    width: 140px;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .form-type-select{
    clear: none;
    float: left;
    margin: 0 0.5em 0 0;
    width: 80px;
    width:68px;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .form-type-select a.selectBox{
    width:68px !important;
    height:32px;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form select.form-select {
    margin-top: 4px;
    padding: 2px;
    width: 75px;
    width:68px;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form select.form-select a.selectBox{
    width:68px !important;
}
.unit-search #nivaria-rooms-booking-display-unit-availability-search-form .form-actions{
    float: right;
    padding: 0;
    margin:0;
    margin-top:21px;
}
/*page-node-13*/
.page-node-13 .content .field-name-body img{
    width: 290px!important;
    height: 205px!important;
}
.page-node-13 .content .field-name-body .field-item p a{
    display: block;
    font-size: 12px;
    font-weight: bold;
    text-align: left !important;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
}
/*page-node-8*/
/*.page-node-8 #content .section,
.page-node-7 #content .section,
.page-node-9 #content .section{
    padding: 0 40px;
}*/
.page-node-8 #content .section  .group-right,
.page-node-7 #content .section  .group-right,
.page-node-9 #content .section  .group-right{
    float: right;
    width: 100%;
}
/**/
.page-reservas #block-system-main .view-casas .view-header p{
    font-weight: bold;
}
.page-reservas #block-system-main .view-casas  .view-content table.views-view-grid tr{
    background: none;
}
.page-reservas #block-system-main .view-casas  .view-content table.views-view-grid .views-field-field-imagenes .field-content img{
    height: 135px;
    width: 190px;

}
.page-reservas .region-sidebar-first #block-rooms-booking-manager-rooms-availability-search{
    padding: 20px 30px;
}
.page-reservas .region-sidebar-first #block-rooms-booking-manager-rooms-availability-search #edit-rooms-start-date,
.page-reservas .region-sidebar-first #block-rooms-booking-manager-rooms-availability-search #edit-rooms-end-date
{
    padding: 0;
}
.page-reservas .region-sidebar-first #block-rooms-booking-manager-rooms-availability-search #rooms-booking-availability-search-form #edit-rooms-start-date-datepicker-popup-0,
.page-reservas .region-sidebar-first #block-rooms-booking-manager-rooms-availability-search #rooms-booking-availability-search-form #edit-rooms-end-date-datepicker-popup-0
{
    background: url("../images/input_search.png") no-repeat scroll -4px 0 transparent;

    border: medium none;
    height: 31px;
    width: 202px;
}

.page-reservas #main-wrapper #main #sidebar-first .section #rooms-booking-availability-search-form .form-submit {
    width: 206px;}

/*.page-reservas .region-sidebar-first #block-rooms-booking-manager-rooms-availability-search .form-type-select{
        margin-right: 40px;
}*/
/*node-type-que-hacer*/
.node-type-que-hacer #main-wrapper #content{

}
/*************29**************/
/**booking**/
body.page-booking #content{
    width: 930px !important;
}
body.page-booking  #content .section{
    background: url("../images/bgbreadcrumb.png") repeat scroll left top transparent;    
}
body.page-booking .form-actions #edit-submit, body.page-booking .form-actions .form-submit{
    /*    margin-left: 10px;*/
}
body.page-booking #rooms-booking-availability-search-form {
    border-bottom: 2px solid #FFFFFF;
    display: block;
    float: left;
    margin:  20px 0 10px 0!important;
    overflow: hidden;
    padding:  0 0 25px 20px;
    width: 100%;
}
.page-node-booking  .unit-result .unit-description .node-casas .field-name-title,
.page-booking  .unit-result .unit-description .node-casas .field-name-title
{
    border-bottom: 2px solid #FFFFFF;
    margin: 0 0 0 -20px!important;
    padding: 0 0 10px 25px;
    position: absolute!important;
    top: 0;
    width: 97%;
}
.unit-result .unit-description .node-casas .field-name-title
{
    border-bottom: 2px solid #FFFFFF;
    /*    margin: -45px 0 0 -20px;*/
    padding: 0 0 10px 20px;
    width: 100%;
}
.unit-result .unit-description .node-casas .field-name-field-imagenes img{
    width: 180px!important;
    height: 130px!important;
    padding-top: 20px;
}
.unit-result  .booking-info{
    padding-top: 30px!important;
    overflow: visible;
}
.unit-result{
    border-bottom: 15px solid #fff;    
    left: 0;
    position: relative;
    top: 0;
    /*padding-bottom: 0px;
        padding-top: 100px!important;*/
}
.page-booking  .unit-result{
    padding-top: 55px!important;
    padding-bottom: 0px!important;


}
.unit-result .field-name-field-imagenes{
    padding-top: 10px!important; padding-bottom: 15px !important;

}

.page-booking  .booking-info .booking-price,
.page-node-booking .booking-info .booking-price{
    border-top: 2px solid #FFFFFF;
    display: block;
    margin: 20px 0 0 -20px;
    padding: 20px 0 0;
    position: relative!important;

    z-index: 99999;
    overflow: hidden;

}
.page-node-booking .booking-info .booking-price{
    width: 620px;
}
.page-booking  .booking-info .booking-price{

    width: 930px;
}


body.page-booking #rooms-booking-availability-search-form .form-submit{
    position: relative;
    left: 0;
    top: 24px;
}
.page-booking .content #rooms-booking-availability-search-form{
    position: relative;
}
.page-booking .content form{
    position: absolute;
}
.page-booking .form-submit
{
    cursor: pointer;
    height: 50px;
    left: 445px;
    left:465px;
    position: absolute;
    top: -80px;
    z-index: 999999;
}
/*.page-booking .form-submit:hover{
    cursor: pointer;
    height: 50px;
    left: 445px;
    position: absolute;
    top: -79px;
    z-index: 999999;
}*/
.page-node-booking .form-submit{
    bottom: 26px;
    cursor: pointer;
    height: 50px;
    left: 442px;
    position: absolute;
    width: 163px;
    z-index: 99999;
    
    left:465px;
}
/*.page-node-booking .form-submit:hover{
    bottom: 22px;
    left: 442px;
    position: absolute;
    width: 163px; 
    cursor: pointer;
    z-index: 99999;
}*/
.page-node-booking .unit-search-result-alt form{
    position: relative;
    left: 0;
    bottom: 0;
}
#rooms-booking-availability-search-form .form-item-adults-count label {
    display: block !important;
}
#rooms-booking-availability-search-form .form-item-children-count label {
    display: block !important;
}