
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
    color: #3b3b3b;
}
.comment .comment-arrow {
    border-color: #ffffff;
}
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
    background: #ffffff;
}
.tabs ul.primary li a.active {
    background-color: #ffffff;
}
.tabs ul.primary li.active a {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}
#header {
    /*  background-color: #48a9e4;
      background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
      background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
      background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
      background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
      background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);*/
    background: #fff
}
a {
    color: #0071B3;
}
a:hover,
a:focus {
    color: #018fe2;
}
a:active {
    color: #23aeff;
}
.sidebar .block {
    background-color: #f6f6f2;
    border-color: #f9f9f9;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
    color: #000;
}
/*
contact
*/
body.node-type-webform #breadcrumb,
body.page-servicios-extras #breadcrumb,
body.node-type-instalaciones #breadcrumb,
body.node-type-page #breadcrumb,
body.node-type-webform #breadcrumb,
body.node-type-que-hacer #breadcrumb,
body.page-reservas #breadcrumb,
body.page-que-hacer #breadcrumb,
body.page-booking #breadcrumb{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 5px 15px 0;
    padding: 10px 20px;
}
body.node-type-webform #breadcrumb h2.page-title,
body.page-servicios-extras #breadcrumb h2.page-title,
body.node-type-instalaciones #breadcrumb h2.page-title,
body.node-type-page #breadcrumb h2.page-title,
body.node-type-webform #breadcrumb h1#page-title,
body.page-servicios-extras #breadcrumb h1#page-title,
body.node-type-instalaciones #breadcrumb h1#page-title,
body.node-type-page #breadcrumb h1#page-title,
body.page-booking #breadcrumb h1#page-title{
    font-size: 1.5em;
    margin: 15px 0 0;
    text-transform: uppercase;
}
body.node-type-webform #content{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 2px 0 0 15px;
    width: 705px;
}
body.node-type-webform #content .region.region-content{
    padding-left: 20px;
}
#edit-submitted-nombre-contacto,
#edit-submitted-email-contacto{
    background: url("../images/bginput.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 22px;
    width: 417px;
}
#edit-submitted-comentario-contacto{
    background: url("../images/bgtextarea.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 121px;
    padding: 7px;
    width: 426px;
}
body.node-type-webform #content .grippie{
    display: none;
}
body.node-type-webform #content fieldset{
    border: none;
}
body.node-type-webform #content fieldset legend{
    display: none;
}
body.node-type-webform #content .fieldset-description{
    display: none;
}
body.node-type-webform #content img{
    float: left;
    padding-right: 10px;
}
body.node-type-webform #content #edit-captcha-response{
    background: url("../images/bginputcapcha.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 23px;
    width: 230px;
}
body.node-type-webform #content #edit-submit{
    background: url("../images/bgbuttoncontact.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    float: right;
    font-weight: bold;
    height: 45px;
    margin-right: 40px;
    width: 150px;
}
#block-locationmap-image .content{
    background: url("../images/arrow-circle.png") no-repeat bottom center #fff;
}
/*
right
*/

body.node-type-webform #sidebar-second{

}
body.node-type-webform #sidebar-second .block,
body.page-node-13 #sidebar-second .block{
    padding: 15px 0px;
}
body.node-type-webform #sidebar-second #block-nodeblock-6 .content,
body.page-node-13 #sidebar-second #block-nodeblock-6 .content{
    padding-left: 20px;
}
body.node-type-webform #sidebar-second h2,
body.page-node-13 #sidebar-second h2{
    background: url("../images/eye.png") no-repeat scroll 10px 0 transparent;
    font-weight: bold;
    padding-left: 40px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
body.node-type-webform #sidebar-second li{
    list-style: url("../images/check.png");
}
/*
Spa
*/
.node-type-instalaciones #page-wrapper,
.page-servicios-extras #page-wrapper,
.node-type-instalaciones #page-wrapper,
body.node-type-webform #page-wrapper,
body.node-type-que-hacer #page-wrapper,
body.page-reservas #page-wrapper,
body.page-que-hacer  #page-wrapper,
body.page-booking  #page-wrapper{
    background: url("../images/bg_spa.png");
}
.page-servicios-extras #page-wrapper .section,
.node-type-instalaciones #page-wrapper .section{
    padding-right: 3px;
    padding-top: 3px;
}
body.page-servicios-extras #content,
body.node-type-instalaciones #content, 
body.page-booking #content{
    background: none repeat scroll 0 0 #FFFFFF;
    margin-top: 3px;
    padding: 0 30px;
    width: 615px
}
body.page-servicios-extras .view-header,
body.node-type-instalaciones .view-header{
    padding: 10px 0 30px;
}
/*body.page-servicios-extras .view-content,*/
body.node-type-instalaciones .view-content{
    padding-left: 20px;
}
body.page-servicios-extras .group-left,
body.node-type-instalaciones .group-left{
    float: left;
    width: 75%;
}
body.page-servicios-extras .group-right,
body.node-type-instalaciones .group-right{
    float: left;
    text-align: right;
    width: 25%;
}
body.page-servicios-extras #content .group-left h2{
    background: url("../images/bookfade.png") no-repeat scroll 0 0 transparent;
    color: #0071B3;
    padding-left: 40px;
    vertical-align: middle;
    margin: 15px 0 20px;
}
body.page-servicios-extras .view-header{
    background: none repeat scroll 0 0 #F6F6F2;
    margin-bottom: 15px;
    padding: 10px 0 15px;
}
body.page-servicios-extras .views-row{
    background: none repeat scroll 0 0 #F6F6F2;
    margin-bottom: 25px;
    padding-left: 20px;
    position: relative;
}
body.page-servicios-extras .views-row .field-item{
    margin: 0;
}
body.page-servicios-extras .view-footer a{
    background: url("../images/bgbuttonr.png") repeat-x scroll center center transparent;
    color: #FFFFFF;
    display: block;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
body.page-servicios-extras .group-left .field-name-commerce-price{
    position: absolute;
    right: 135px;
    top: 20px;
}
body.page-servicios-extras .group-left .field-name-commerce-service-pricing-method{
    position: absolute;
    right: 25px;
    top: 20px;
}
body.page-servicios-extras .group-right img{
    margin: 60px 0 0;
    padding-right: 20px;
}
/*
end
servicios-extras
*/
/*body.page-servicios-extras .sidebar .block.block-menu-block,
body.node-type-instalaciones .sidebar .block.block-menu-block{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    padding: 0;
}
body.page-servicios-extras .block.block-menu-block h2,
body.node-type-instalaciones .block.block-menu-block h2{
    display: none;
}
body.page-servicios-extras .sidebar .block.block-menu-block ul.menu,
body.node-type-instalaciones .sidebar .block.block-menu-block ul.menu{
    padding: 0;
}
body.page-servicios-extras .sidebar .block.block-menu-block li.leaf,
body.node-type-instalaciones .sidebar .block.block-menu-block li.leaf{
    background: none repeat scroll 0 0 #FFFFFF;
    list-style: none outside none;
    margin-bottom: 3px;
    padding: 5px 10px 5px 20px;
}
body.page-servicios-extras .sidebar .block.block-menu-block li.leaf.active,
body.node-type-instalaciones .sidebar .block.block-menu-block li.leaf.active{
    background: url("../images/menutop.png") no-repeat scroll 0 0 transparent;
    min-height: 90px;
    vertical-align: middle;
    padding: 2px 10px 2px 20px;
}
body.page-servicios-extras .sidebar .block.block-menu-block .menu-link-title,
body.node-type-instalaciones .sidebar .block.block-menu-block .menu-link-title{
    font-size: 20px;
}
body.page-servicios-extras .sidebar .block.block-menu-block .menu-link-subtitle,
body.page-servicios-extras .sidebar .block.block-menu-block .menu-link-subtitle a,
body.node-type-instalaciones .sidebar .block.block-menu-block .menu-link-subtitle,
body.node-type-instalaciones .sidebar .block.block-menu-block .menu-link-subtitle a,
body.page-booking .sidebar .block.block-menu-block .menu-link-subtitle a{
    font-size: 13px;
    color: #666666;
}*/
body.page-servicios-extras .sidebar .block.block-nodeblock,
body.node-type-instalaciones .sidebar .block.block-nodeblock,
body.page-booking .sidebar .block.block-nodeblock{
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
    padding: 0;
}
body.page-servicios-extras .sidebar .block.block-nodeblock h2,
#block-nodeblock-20 h2{
    display: none;
}
body.page-servicios-extras .sidebar .block.block-nodeblock .field-type-image img,
body.node-type-instalaciones .sidebar .block.block-nodeblock .field-type-image img,
body.page-booking .sidebar .block.block-nodeblock .field-type-image img{
    width: 100%;
    height: 100%;
}
body.page-servicios-extras .sidebar .block.block-nodeblock .field-name-body.field-type-text-with-summary,
body.node-type-instalaciones .sidebar .block.block-nodeblock .field-name-body.field-type-text-with-summary,
body.page-booking .sidebar .block.block-nodeblock .field-name-body.field-type-text-with-summary{
    text-align: center;
}
body.node-type-instalaciones .sidebar .block.block-nodeblock h2,
body.page-booking .sidebar .block.block-nodeblock h2{
    background: url("../images/bagfade.png") no-repeat scroll 15px center transparent;
    font-weight: bold;
    padding: 5px 10px 5px 40px;
}
body.node-type-instalaciones #block-nodeblock-30 .content{
    padding-left: 10px;
}
body.node-type-instalaciones .sidebar .block.block-nodeblock ul,
body.page-booking .sidebar .block.block-nodeblock ul{
    padding-left: 25px;
    padding-right: 10px;
}
body.node-type-instalaciones .sidebar .block.block-nodeblock li,
body.page-booking .sidebar .block.block-nodeblock li{
    list-style: disc outside url("../images/checkfade.png");
    padding-bottom: 10px;
    padding-left: 5px;
}
#block-nodeblock-30 .field-name-body.field-type-text-with-summary{
    text-align: left;
}
body.page-booking #block-nodeblock-30 .field-item p,
body.node-type-instalaciones #block-nodeblock-30 .field-item p{
    background: url("../images/bgbuttonr.png") repeat-x scroll 0 center transparent;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 3px;
    padding: 10px;
    text-align: center;
    width: 180px;
}
/*
nuestra-historia
*/
body.page-node-13 #page-wrapper{
    background: url("../images/bg_spa.png") repeat scroll 0 0 transparent;
}
body.page-node-13 #content{
    background: none repeat scroll 0 0 #FFFFFF;
    margin: 3px 0 15px 15px;
    padding: 0 20px;
    width: 665px;
}
body.page-node-13 #content #block-system-main .field-items h2,
body.page-node-13 #content #block-system-main .field-items h3{
    font-weight: bold;
}
body.page-node-13 #content #block-system-main .field-items img{
    margin-right: 20px;
}
body.node-type-webform #sidebar-second #block-nodeblock-5,
body.page-node-13 #sidebar-second #block-nodeblock-5{
    padding: 0;    
    text-align: center;
}
body.node-type-webform #sidebar-second .block,
body.page-node-13 #sidebar-second .block{
    background: none repeat scroll 0 0 #FFFFFF;
}
body.node-type-webform #sidebar-second #block-nodeblock-5 h2,
body.node-type-webform #sidebar-second #block-locationmap-image h2,
body.page-node-13 #sidebar-second #block-nodeblock-5 h2,
body.page-node-13 #sidebar-second #block-locationmap-image h2{
    display: none;
}
body.node-type-webform #sidebar-second #block-nodeblock-5 .field-item img,
body.page-node-13 #sidebar-second #block-nodeblock-5 .field-item img{
    width: 100%;
}
body.node-type-webform #sidebar-second #block-nodeblock-5 .field-item a,
body.page-node-13 #sidebar-second #block-nodeblock-5 .field-item a{
    background: url("../images/bgbuttonr.png") repeat-x scroll 0 center transparent;
    color: #FFFFFF;
    display: block;
    margin: 0 10px 10px;
    padding: 10px 0;
    text-transform: uppercase;
}
body.page-node-13 #sidebar-second #block-nodeblock-5 .content{
    padding: 0;
}
body.page-node-13 #sidebar-second #block-locationmap-image,
body.node-type-webform #sidebar-second #block-locationmap-image{
    padding: 0;
}
body.page-node-13 #sidebar-second #block-locationmap-image .content,
body.node-type-webform #sidebar-second #block-locationmap-image .content{
    padding: 0 10px 20px;
    text-align: center;
}
body.page-node-13 #sidebar-second li{
    list-style: disc outside url("../images/checkfade.png");
    padding-bottom: 5px;
    text-transform: uppercase;
}
body.page-node-13 #sidebar-second h2{
    background: url("../images/eyefade.png") no-repeat scroll 10px 0 transparent;
}
/*
booking
*/
body.page-booking #rooms-booking-availability-search-form > div > div{
    clear: none;
    float: left;
}
body.page-booking #rooms-booking-availability-search-form > div div{
    padding: 0;
}
body.page-booking #edit-actions{
    margin: 0;
}
body.page-booking .form-actions #edit-submit,
body.page-booking .form-actions .form-submit{
    background: url("../images/bgbuttonr.png")  repeat-x scroll 0 center transparent;
    border: medium none;
    padding: 5px 15px;
}
body.page-booking #edit-actions #edit-submit:hover{
    cursor: pointer;
}
body.page-booking #rooms-booking-availability-search-form > div > div label,
body.page-booking #rooms-booking-availability-search-form > div > div .description{
    display: none;
}
body.page-booking #rooms-booking-availability-search-form #edit-rooms-start-date-datepicker-popup-0,
body.page-booking #rooms-booking-availability-search-form #edit-rooms-end-date-datepicker-popup-0 {
    background: url("../images/inputsearch.png") no-repeat scroll left top transparent;
    border: medium none;
    height: 25px;
    width: 115px;
}
body.page-booking .no-booking-data{
    clear: both;
}
/*
product
*/
.unit-result .booking-date span.label {
    float: left;
    width: 190px;
}
.unit-result .booking-occupants span.label {
    float: left;
    width: 190px;
}
.unit-result .booking-avg-price span.label {
    float: left;
    margin-right: 15px;
}
.unit-result{
    padding-left: 20px;
    position: relative;
}
.unit-result .field-name-title.field-type-ds{
    position: absolute;
}
.unit-result .field-name-field-imagenes{
    padding: 60px 10px 50px 0;   
}
.booking-info{
    padding-bottom: 20px;
    padding-top: 60px;
}
.unit-result h2 {
    background: url("../images/home.png") no-repeat scroll 0 center transparent;
    color: #0071B3;
    margin: 15px 0 20px;
    padding-left: 40px;
    vertical-align: middle;
}
.booking-price{
    left: 0;
    padding-left: 115px;
    padding-top: 20px;
    position: absolute;
}
.booking-price span{
    float: left;
}
.booking-price span.label{
    padding: 6px 15px 5px 0;
}
.content form{
    margin-right: 100px;
    text-align: right;
}
#rooms-booking-availability-search-form{
    margin-right: 0;
}